* {
    text-align: center;
}
#cart-item{
    display: flex;
    justify-content: space-between;
    margin:0 1.5rem;
}
#summary-box{
    display: flex;
    justify-content: center;
    gap: 3rem
}
#left-side, #right-side{
    display: flex;
    gap: 1rem;
}
#name-and-price, #right-side, #items-and-price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#qty-label{
    font-weight: 400;
}




