*{
    font-family: 'Mali', cursive;
    margin: 0;
    
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #02191e;
    padding: 1.5rem;
    color: #fefefe 
}

.rightSideNav {
    display: flex;
    align-items: center;
    gap: 2rem;
    

}
.leftSideNav {
    display: flex;
    align-items: center;
}

